<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>


<!--This is the code for blurb about myself -->
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-success">Hi, glad you've made it this far. <span class="text-primary">Here's some facts "ABOUT" me</span></h2>
        <p class="lead">I am currently a Junior at The University of Texas at the McCombs School of Business. I am studying Management Information Systems with a minor in Accounting and a certificate in the Elements of Computing. I am an aspiring software developer and am hoping to follow in my brother's footsteps who works in the Tech department at HEB. Below you can find some random fun facts about things I have been involved in lately.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class=" rounded" src="/images/dog_image.png" width="500" height="500" alt="My with a dog">
    </div>
</div>
<hr class="featurette-divider">
<div class="b-divider">
</div>


<!--This is the code for the header of my current vetures -->
<h1 class="text-center">Current Ventures</h1>
<br />
<div class="breadcrumb"></div>
<br />
<br />



<!-- This is the code for the container photo scrolls -->
<div class="container photo scrolls">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="/images/marathon.png" alt="Marathon image" width="140" height="140">
            <h2>Athletics</h2>
            <p>This past year I did my first half marathon ever right here in Austin. This year I decided to set a new goal for myself and will be doing the Austin full marathon in February.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/images/sorority2.png" alt="Sorority image" width="140" height="140">
            <h2>Organizations</h2>
            <p>Because UT is such a large campus, I wanted to get involved in some community orgs. Beyond academic clubs and religious organizations, I also take part in Greek Life as a Tri Delta.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="~/images/intern.png" alt="Internship image" width="140" height="140">
            <h2>Internships</h2>
            <p>Though I am an MIS major, I have always been intrigued by all things government. This summer I decided to take action and intern at the Capital for a State Representative.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
