
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="heroes.css" rel="stylesheet">
</head>
<br />
<br />
<br />



<!--This is the code for the start container -->
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-primary">Start Here</h1>
            <p class="lead">
                Hi, I'm Brynne. On this website you can find countless facts about my life if you would like to scroll around. There is also a secret hidden message you can find if you look closely around this "Home" page. Happy hunting!
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <div class="btn-group-lg">
                        <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" href="mailto:Brynnejackson@utexas.edu?subject=Inquiry from Home Page"><span class="fas fa-envelope"></span>&nbsp;Email</a>
                        <a class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold" href="http://www.instagram.com/brynne_jackson"><span class="fas fa-at"></span>&nbsp;Instagram</a>

                    </div>
                </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <!--TO DO change image size to fit -->
            <img class="rounded-lg-3" src="/images/start_portrait.png" alt="Self Portrait" width="400" height="400">
        </div>
    </div>
</div>
<div class="b-divider">
</div>
<br />
<div class="breadcrumb"></div>





<!--This is the code for the glad you're here blurb -->
<h1 class="text-center">Glad you're here</h1>
<h2 class="text-center">Take a look around!</h2>
<br />
<h4 class="text-center" style="font-family:Brush Script MT, cursive">These are some photos of me at my happiest.</h4>



<!--This is the code for the images of myself -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class="rounded img-fluid" src="/images/brynne_julia_lake.png" style="width: 100%" alt="Congratulations, you found the secret message" title="Congratulations, you found the secret message">
        </div>
        <div class="col">
            <img class="rounded img-fluid" src="/images/SelfImage.png" alt="Your mission, shall you chose to accept, is to find the hidden link to one of my favorite videos" title="Your mission, shall you chose to accept, is to find the hidden link to one of my favorite videos">
        </div>
        <div class="col">
            <img class="rounded img-fluid" src="/images/brynne_sammy_formal.png" alt="Hint - try clicking some of the pages at the footer of the page. Good luck...and happy continued hunting" title="Hint - try clicking some of the pages at the footer of the page. Good luck...and happy continued hunting">
        </div>
    </div>
</div>




<!--This is the code for buttons that link to the separate pages -->
<br />
<div class="text-center">
    <div class="btn-group-lg">
        <a class="btn btn-secondary" asp-controller="Home" asp-action="About">All About Me</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Travel">Travel Blog</a>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="ReturnResume">My Resume</a>

    </div>
</div>
<br />
<div class="breadcrumb"></div>
<br />
<br />




<!--This is the code for the ted talk -->
<div class="card mb-3">
    <h3 class="card-header">Elon Musk</h3>
    <div class="card-body">
        <h5 class="card-title">Ted Talk</h5>
        <h6 class="card-subtitle text-muted">The mastermind behind Tesla, SpaceX, and SolarCity</h6>
    </div>
    <div style="position:relative;height:0;padding-bottom:56.25%">
        <iframe src="https://embed.ted.com/talks/elon_musk_the_mind_behind_tesla_spacex_solarcity" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
    </div>
    <div class="card-body">
        <p class="card-text">"Entrepreneur Elon Musk is a man with many plans. The founder of PayPal, Tesla Motors and SpaceX sits down with TED curator Chris Anderson to share details about his visionary projects, which include a mass-marketed electric car, a solar energy leasing company and a fully reusable rocket."</p>
    </div>

    <div class="card-body">
        <a href="https://www.tesla.com/" class="card-link">Tesla</a>
        <a href="https://www.spacex.com/" class="card-link">Space X</a>
        <a href="https://www.tesla.com/solarpanels?energy_redirect=true" class="card-link">Solar City</a>
    </div>
</div>


